Omniglot_Classification/.DS_Store
.DS_Store
**/Omniglot_Classification/data/omniglot_resized
**/Omniglot_Classification/__pycache__/
**/Regression/__pycache__/
.vscode/settings.json
data.cpython-37.pyc
.gitignore
Regression/regressors.py
**/MiniImageNet_Classification/Data
