Omniglot_Classification/.DS_Store
.DS_Store
.DS_Store
**/Omniglot_Classification/data
.vscode/settings.json
Omniglot_Classification/__pycache__/dataprep.cpython-38.pyc
Omniglot_Classification/__pycache__/maml.cpython-38.pyc
Omniglot_Classification/__pycache__/model.cpython-38.pyc
Regression/__pycache__/data.cpython-37.pyc
Regression/__pycache__/maml.cpython-37.pyc
Regression/__pycache__/regressors.cpython-37.pyc
.gitignore
.gitignore
Omniglot_Classification/dataprep.ipynb
Omniglot_Classification/dataprep.py
.gitignore
Omniglot_Classification/.ipynb_checkpoints/dataprep-checkpoint.ipynb
Regression/regressors.py
Regression/regression.py
